{{ nom_projet }}
 
 
Bienvenue à {{ ansible_hostname }} ! 
 
La création de ce fichier a été faite le {{ ansible_date_time.date }}. 
 
Pour tous renseignements, veuillez nous contacter à l'adresse {{ support_mail }}.
