<VirtualHost *:80>

    ServerName   {{ item.value.nom_serveur }} 

    ServerAlias {{ item.value.alias_serveur }}

    DocumentRoot {{ item.value.doc_root }}

</VirtualHost>

<directory {{ item.value.doc_root }}> 
        options Indexes FollowSymlinks 
        require all granted 
</directory>
